<%= form_tag path, method: method do %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= text_field_tag :name, employee_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="position" class="form-label">Position</label>
    <%= text_field_tag :position, employee_position, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <%= number_field_tag :salary, employee_salary, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="date_of_birth" class="form-label">Date of Birth</label>
    <%= date_field_tag :date_of_birth, employee_date_of_birth, class: 'form-control' %>
  </div>

  <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <%= link_to "Back", back_path, class: 'btn btn-secondary' %>
<% end %>
